bert-base-chinese/
prompt*/
split_*/
split*/
split10/
data*/
prompt_ECPE_few_shot/
backup*/
emotion_logs_UECA_EE/
bert-tiny-chinese/
init_supervised_metrics/
prompt_ECPE_few_shot_ST/
pseudo_results/
UECA-CE_few_shot/
split10_few_shot_ST/
./test.py
debug/
split10_few_shot_st_with_val/
split10_few_shot/
pseudo_prediction_analysis.txt
evaluation_results.txt
NeST-main/
NeST/few_shot_results/
NeST/__pycache__/
NeST/
results/
AAAI_2023_Neighborhood_Regularized_Self_Training_for_Learning_with_Few_Labels.pdf

*.zip
png/
__pycache__/