bert-base-chinese/
split_*/
split*/
split10/
prompt*/
robocopy_log/
ep_split10_t1te1v1_u7_disjoint/
ep_split10_home_t1_te1_v1_u7_disjoint/
data*/
prompt_ECPE_few_shot/
backup*/
emotion_logs_UECA_EE/
bert-tiny-chinese/
init_supervised_metrics/
prompt_ECPE_few_shot_ST/
pseudo_results/
UECA-CE_few_shot/
split10_few_shot_ST/
./test.py
debug/
split10_few_shot_st_with_val/
split10_few_shot/
pseudo_prediction_analysis.txt
evaluation_results.txt
NeST-main/
NeST/few_shot_results/
NeST/__pycache__/
NeST/*
!NeST/model_weight_averaging.py
!NeST/sample_selection_prompt.py
results/
AAAI_2023_Neighborhood_Regularized_Self_Training_for_Learning_with_Few_Labels.pdf
.conda/
.vscode/
*.zip
*.png
png/
__pycache__/
results_error_rate/
results_ep_split10_t1te1v1_u7_disjoint_error_rate/
results_ep_split10_t9_te1/
results_ep_split10_home_t1te1v1_u7_disjoint/